html {

}

body {
    
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

/* reusable classes */
.row {
    width: 90%;
    margin: 0 auto;
    /* text-align: center; */
}

.flex-box {
    display: flex;
    align-items: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/**************************** LANDING PAGE ****************************/
/* HEADER */
header {
    background-color: #2578fc;
    color: white;
    height: 90px;
}

.links {
    margin-top: 6px;
    align-items: center;
    width: 80%;
}

.links ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 100px;
}

.links li {
    display: inline-block;
    /* font-weight: 100; */
}

.links h1 {
    display: inline-block;
}

.login {
    margin-top: 6px;
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

/* Login page */
.login-container .left {
    display: block;
    margin-top: 150px;
    margin-left: 100px;
}

.left h3 {
    color: #2578fc;
    font-size: 24px;
    margin-bottom: 30px;
}

.left p {
    margin: 5px 0;
    /* font-weight: bold; */
}

/* MASTHEAD */
.masthead {
    margin-top: 8%;
    justify-content: space-around;
}

.masthead-content {
    width: 40%;
    font-size: 35px;
}

.masthead-content button {
    padding: 15px;
    border-radius: 10px;
    color: white;
    background-color:  #2578fc;
    border: none;
    width: 200px;
    height: 60px;
    font-size: 20px;
}

.masthead-img {
    height: 80%;
}